.homediv{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/home_bg.png); 
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: 100%;
}